@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto' , Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    transition: .5s
}

header {
    background: #11998e;
    background-image: linear-gradient(to right, #38ef7d, #11998e);

    color: white;
    padding-top: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background: #1AC481;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;   
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    opacity: 0.8;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main ul {
    background-color: #fff;
    border-radius: 10px;
}

main ul li:hover {
    box-shadow: -10px -10px 5px 0 #fff,
        10px 10px 5px 0 #bbb;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer p.copy {
    font-weight: bold;
}

footer p.tester {
    font-size: smaller;
    color: gray;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
